.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.arcade-out{
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: '8-bit_arcade_outmedium', monospace;
  font-size: 90px;
  color: #50fa7b;
}
.arcade-in{
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 90px;
  color: #eb5cad;
  font-family: '8-bit_arcade_inmedium', monospace;
}